@layer reset, fonts, tokens, base, layout, components, utilities;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {

  body {
    font-family: var(--ff-primary);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
  }

  :focus-visible {
    outline: 2px solid var(--clr-focus, currentColor);
    outline-offset: 3px;
  }
}

@layer layout {}

@layer components {}

@layer utilities {}