@layer reset, fonts, tokens, base, layout, components, utilities, responsive;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {

  body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-200);
    background-color: var(--color-surface-page);
    color: var(--color-text-primary);
  }

  :focus-visible {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 3px;
  }
}

@layer layout {

  .container {
    --max-width: 45rem;
    inline-size: min(calc(100% - var(--space-600)), var(--max-width));
    margin-inline: auto;
  }
}

@layer components {

  /* Overlay */
  body.is-menu-open main,
  body.is-menu-open footer {
    position: relative;
    isolation: isolate;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--color-overlay);
      z-index: 1;
    }
  }

  /* Header */
  .header {
    --height-header: 5rem;

    position: relative;
    padding-block: var(--space-300);
    background-color: var(--color-surface-page);
    z-index: 1;
  }

  .header__inner {
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    position: absolute;
    inset-inline: 0;
    inset-block-start: 100%;

    padding: var(--space-500) var(--space-300);
    block-size: calc(100dvh - var(--height-header));
    background-color: var(--color-surface-navigation);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
    overflow: clip;

    &::after {
      content: '';
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      inline-size: 881px;
      block-size: 820px;
      background: url('../assets/images/patterns/pattern-menu.svg');
      background-size: cover;
      translate: -12% 74%;
      pointer-events: none;
    }
  }

  .header__nav.is-open {
    opacity: 1;
    transform: scaleY(1);
  }

  .header__menu {
    --stack-space: var(--space-300);

    max-inline-size: 20.4375rem;
    margin-inline: auto;
  }

  .header__menu-link {
    display: block;
    font-size: var(--font-size-300);
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.116em;
    line-height: 2;
    color: var(--color-text-inverse);
  }

  .header__menu-link--cta {
    border: 1.5px solid currentColor;
  }

  /* Toggle Button */
  .toggle-btn {
    position: relative;
    inline-size: 2rem;
    block-size: 2rem;
    display: grid;
    place-items: center;
    border: 1.5px solid currentColor;

    svg {
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
    }
  }

  .toggle-btn__icon-close {
    opacity: 0;
    transition: transform var(--transition-fast);
  }

  .toggle-btn__icon-open {
    transition: transform var(--transition-fast);
  }

  .toggle-btn.is-open .toggle-btn__icon-open {
    transform: rotate(-90deg);
    opacity: 0;
  }

  .toggle-btn.is-open .toggle-btn__icon-close {
    transform: rotate(-90deg);
    opacity: 1;
  }


  /* Hero */
  .hero {
    --height-hero-content: 31.25rem;
    position: relative;
    isolation: isolate;

    background-color: var(--color-surface-brand);
    color: var(--color-text-inverse);
    overflow-x: clip;

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset-block-end: 0;
      pointer-events: none;
      z-index: -1;
    }

    &::before {
      inset-inline-start: 0;
      inline-size: 30.3125rem;
      block-size: 28.25rem;
      background: url('../assets/images/patterns/pattern-main.svg');
      background-size: cover;
      translate: -54% -72%;
    }

    &::after {
      inset-inline-end: 0;
      inline-size: 23.5625rem;
      block-size: 21.9375rem;
      background: url('../assets/images/patterns/pattern-main.svg');
      background-size: cover;
      translate: 67% 57%;
    }
  }

  .hero__inner {
    --stack-space: var(--space-0);
    align-items: center;
  }

  .hero__content {
    --stack-space: var(--space-400);

    block-size: var(--height-hero-content);
    order: 1;
    align-items: center;
    justify-content: center;
  }

  .hero__text {
    --stack-space: var(--space-200);
    text-align: center;
  }

  .hero__title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-regular);
    letter-spacing: -0.0105em;
    line-height: 1;
  }

  .hero__description {
    font-size: var(--font-size-200);
    line-height: 1.65;
  }

  .hero__media {
    --width-media: 23.4375rem;
    --height-media: 28.1875rem;

    inline-size: var(--width-media);
    block-size: var(--height-media);
    max-inline-size: none;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }

  .button {
    padding: .89em 2.09em;
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.116em;
    line-height: 1.15;
    text-transform: uppercase;
    background-color: transparent;
    border: 1.5px solid currentColor;
    color: var(--color-text-inverse);
  }


  /* Features */
  .features {
    padding-block: 7.5rem;
  }

  .features__inner {
    --max-width: 29.4375rem;

    position: relative;
    padding-block-start: var(--space-500);

    &::before {
      content: '';
      position: absolute;
      inset-inline-start: 50%;
      inset-block-start: 0;

      inline-size: 150px;
      block-size: 1px;
      background-color: var(--color-border-accent);
      translate: -50%;
      pointer-events: none;
    }
  }

  .features__title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-regular);
    text-align: center;
    letter-spacing: -0.0105em;
    line-height: 1;
  }

  .features__list {
    margin-block-start: var(--space-1000);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-700);
  }

  .feature {
    text-align: center;
  }

  .feature__icon {
    margin-inline: auto;
  }

  .feature__title {
    margin-block-start: var(--space-400);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-400);
    letter-spacing: -0.017em;
    line-height: 1.35;
  }

  .feature__description {
    margin-block-start: var(--space-200);
    font-size: var(--font-size-200);
    text-wrap: balance;
    line-height: 1.65;
    color: var(--color-text-secondary);
  }


  /* CTA */
  .cta {
    padding-block-end: 8.75rem;
  }

  .cta__inner {
    --stack-space: var(--space-500);
    position: relative;
    isolation: isolate;

    padding-block: 4.5rem;
    align-items: center;
    background-color: var(--color-surface-brand);
    color: var(--color-text-inverse);
    overflow: clip;

    &::after {
      content: '';
      position: absolute;
      inset-inline-end: 0;
      inset-block-end: 0;

      inline-size: 29.1875rem;
      block-size: 27.1875rem;
      background: url('../assets/images/patterns/pattern-main.svg') no-repeat;
      background-size: cover;
      translate: 62% -4%;
      pointer-events: none;
      z-index: -1;
    }
  }

  .cta__title {
    max-inline-size: 18ch;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-regular);
    text-align: center;
    letter-spacing: -0.012em;
    line-height: 1;
  }


  /* Footer */
  .footer {
    position: relative;
    isolation: isolate;
    padding-block: 5.25rem;
    background-color: var(--color-surface-footer);
    overflow: clip;

    &::before {
      content: '';
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;

      inline-size: 697px;
      block-size: 649px;
      background: url('../assets/images/patterns/pattern-footer.svg');
      background-size: cover;
      translate: -40% -73%;
      pointer-events: none;
      z-index: -1;
    }
  }

  .footer__top {
    --stack-space: var(--space-400);
    padding-block-end: var(--space-500);
    border-bottom: 1px solid var(--color-border-subtle);
  }

  .footer__top .logo {
    align-self: center;
  }

  .footer__social {
    --cluster-space: 18px;
    justify-content: center;
    align-items: center;
  }

  .social__link {
    block-size: 2rem;
    inline-size: 2rem;
    display: grid;
    place-items: center;
    color: var(--color-text-secondary);
  }

  .social__icon {
    inline-size: 100%;
    block-size: 100%;
  }

  .footer__nav {
    padding-block-start: var(--space-500);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--space-600);
  }

  .footer__nav-group {
    --stack-space: var(--space-400);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.094em;
    line-height: 1.15;
  }

  .footer__nav-list {
    --stack-space: var(--space-200);
  }

  .footer__nav-title {
    font-size: var(--font-size-100);
    color: var(--color-text-secondary);
  }

  .footer__nav-link {
    font-size: var(--font-size-100);
    color: var(--color-text-brand);
  }

  .attribution {
    position: absolute;
    inset-inline-start: 50%;
    inset-block-end: 0;
    inline-size: max-content;
    font-size: var(--font-size-100);
    text-align: center;
    color: var(--color-text-brand);
    translate: -50% -1.5rem;

    a {
      position: relative;
      margin-inline: .25em;

      &::after {
        content: '';
        position: absolute;
        inset-inline-start: 0;
        inset-block-end: -0.125rem;
        inline-size: 100%;
        block-size: 0.125rem;
        background-color: currentColor;
        transform: scaleX(1);
        transform-origin: center;
        transition: transform var(--transition-fast);
        pointer-events: none;
      }
    }
  }
}

@layer utilities {

  .cluster {
    display: flex;
    flex-direction: row;
    gap: var(--cluster-space, 1rem);
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-space, 1rem);
  }
}

@layer responsive {

  @media (width >=48rem) {

    .header__nav::after {
      inset-inline-start: 50%;
      translate: -50% 73%;
    }


    .hero {
      --height-hero-content: 25rem;

      &::before {
        translate: -56% -50%;
      }

      &::after {
        block-size: 19.625rem;
        translate: 56% 40%;
      }
    }

    .hero__content {
      max-inline-size: 36.9375rem;
    }

    .hero__description {
      padding-inline: var(--space-300);
    }

    .hero__media {
      --width-media: 48rem;
    }


    .cta {
      padding-block-end: 7.5rem;
    }

    .cta__inner {
      padding-block: 4.375rem;

      &::after {
        translate: 55% 5%;
      }
    }

    .cta__title {
      text-wrap: balance;
    }


    .footer {
      padding-block: 5.625rem;

      &::before {
        inset-inline-start: 50%;
        translate: -50% -73%;
      }
    }

    .footer__nav {
      grid-template-columns: repeat(4, max-content);
      justify-items: start;
      justify-content: center;
      gap: var(--space-800);
    }

    .footer__nav-group {
      text-align: left;
    }
  }

  @media (width >=70rem) {
    .container {
      --max-width: 69.375rem;
    }


    .header {
      padding-block: 1.25rem;
    }

    .header__nav {
      position: static;
      inset-inline-start: auto;
      inset-inline-end: auto;
      inset-block-start: auto;

      padding: var(--space-0);
      block-size: auto;
      background: none;
      opacity: 1;
      transform: none;
      transition: none;

      &::after {
        content: none;
      }
    }

    .header__menu {
      flex-direction: row;
      max-inline-size: none;
      margin-inline: unset;
    }

    .header__menu-link {
      padding-block: 0.722rem;
      font-size: var(--font-size-100);
      color: var(--color-text-secondary);
      line-height: 1.15;
    }

    .header__menu-link--cta {
      padding-inline: 1.697rem;
      color: var(--color-text-primary);
    }

    .toggle-btn {
      display: none;
    }


    .hero {
      block-size: 37.5rem;

      &::before,
      &::after {
        inline-size: 43.5625rem;
        block-size: 40.5625rem;
      }

      &::before {
        translate: -72.5% 70.5%;
      }

      &::after {
        inset-block-end: auto;
        inset-block-start: 0;
        translate: 37% -21%;
      }
    }

    .hero__inner {
      --stack-space: var(--space-400);
      position: relative;

      flex-direction: row-reverse;
      align-items: start;
      translate: 0 6.5625rem;

      &::before {
        content: '';
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;

        inline-size: 9.375rem;
        block-size: 1px;
        background-color: currentColor;
      }
    }

    .hero__content {
      --stack-space: var(--space-300);
      padding-block-start: var(--space-800);
      max-inline-size: 33.75rem;
      block-size: auto;
      align-items: start;
      justify-content: start;
    }

    .hero__text {
      text-align: left;
    }

    .hero__title {
      font-size: var(--font-size-800);
      letter-spacing: -0.014em;
      line-height: 0.9;
    }

    .hero__description {
      padding-inline: var(--space-0);
    }

    .hero__media {
      --width-media: 33.75rem;
      --height-media: 40.625rem;
    }


    .features {
      padding-block-start: 19rem;
      padding-block-end: 9.8125rem;
    }

    .features__inner {
      padding-block-start: var(--space-800);

      &::before {
        inset-inline-start: 0;
        translate: 0 0;
      }
    }

    .features__title {
      font-size: var(--font-size-800);
      text-align: left;
      letter-spacing: -0.014em;
      line-height: 0.9;
    }

    .features__list {
      margin-block-start: 6rem;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-400);
    }

    .feature {
      text-align: left;
    }

    .feature__icon {
      margin-inline-start: 0;
      margin-inline-end: auto;
    }

    .feature__description {
      text-wrap: wrap;
    }


    .cta {
      padding-block-end: 9.375rem;
    }

    .cta__inner {
      padding-block: 4.3125rem;
      padding-inline: 5.0313rem;
      flex-direction: row;
      justify-content: space-between;

      &::after {
        inline-size: 47.8125rem;
        block-size: 44.5625rem;
        translate: 45% 35%;
      }
    }

    .cta__title {
      font-size: var(--font-size-700);
      text-align: left;
      letter-spacing: 0.014em;
    }


    .footer {
      padding-block: 4.1563rem;

      &::before {
        inset-inline-start: 0;
        translate: -25% -65%;
      }
    }

    .footer__top {
      padding-block-end: 1.875rem;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__nav {
      padding-block-start: var(--space-600);
      grid-template-columns: repeat(4, 15.9375rem);
      justify-content: space-between;
      gap: var(--space-0);
    }

    .footer__nav-list {
      --stack-space: 0.875rem;
    }
  }
}