@layer tokens {

  :root {
    /* PRIMITIVE TOKENS */
    --color-blue-950: hsl(256, 26%, 20%);
    --color-blue-500: hsl(216, 30%, 68%);
    --color-gray-950: hsl(270, 9%, 17%);
    --color-gray-700: hsl(273, 4%, 46%);
    --color-gray-200: hsl(0, 0%, 85%);
    --color-gray-50: hsl(0, 0%, 98%);
    --color-pink-400: hsl(296, 30%, 68%);
    --color-purple-500: hsl(250, 30%, 68%);
    --color-white: hsl(0, 100%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --space-0: 0;
    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-600: 3rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-1000: 5rem;

    /* SEMANTIC TOKENS */
    --color-text-primary: var(--color-gray-950);
    --color-text-secondary: var(--color-gray-700);
    --color-text-inverse: var(--color-white);
    --color-text-brand: var(--color-blue-950);

    --color-surface-page: var(--color-white);
    --color-surface-navigation: var(--color-gray-950);
    --color-surface-brand: var(--color-blue-950);
    --color-surface-footer: var(--color-gray-50);
    --color-overlay: color-mix(in srgb, var(--color-blue-950) 80%, transparent);

    --color-border-subtle: var(--color-gray-200);
    --color-border-brand: var(--color-blue-950);
    --color-border-accent: var(--color-pink-400);

    --color-bg-action: var(--color-blue-500);
    --color-text-action: var(--color-white);

    --color-bg-hover-action: var(--color-gray-950);
    --color-text-hover-action: var(--color-white);

    --color-focus-ring: var(--color-white);

    /* OTHER TOKENS */
    --font-family-primary: 'Karla', system-ui, sans-serif;
    --font-family-secondary: 'DM Serif Display', system-ui, sans-serif;

    --font-size-100: 0.8125rem;
    --font-size-200: 1rem;
    --font-size-300: 1.25rem;
    --font-size-400: 1.75rem;
    --font-size-500: 2.5rem;
    --font-size-600: 3rem;
    --font-size-700: 3.5rem;
    --font-size-800: 4.5rem;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --transition-fast: .25s ease-out;
  }
}